<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>模板标记学习</h1>
    <p> {{ name }}</p>
    <p> {{ users }}</p>
    <p> {{ users.0 }}</p>
    <p> {{ user_dict.k1 }}</p>
    <p> {{ user_dict.k2 }}</p>
    <h3>循环</h3>
    <ul>
        {% for row in user_list_dict %}
        <li>{{ row.name }}</li>
        {% endfor %}
    </ul>
    <table border="1">
        <thead>
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>邮箱</td>
            <td>操作</td>
        </tr>
        </thead>
        {% for row in user_list_dict %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.email }}</td>
            <td><a>编辑</a> | <a href="/del/nid={{ row.id }}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>